.wrapper {
    min-width: 100vh;
    min-height: 100vh;
    background: url('./Images/background.jpg') no-repeat center top / cover;
}

.text {
    color: rgba(240, 248, 255, 0.8);
    font-family: 'Fira Sans', sans-serif;
    font-weight: 500;
    font-size: 22pt;
    margin: 25px auto;
    text-transform: uppercase;
}